Options +Includes +ExecCGI
AddHandler cgi-script .cgi .sh .pl
AddType image/svg+xml .svg .svgz
AddType application/xhtml+xml shtml
AddHandler server-parsed .shtml
XBitHack on
BrowserMatchNoCase macintosh Mac
BrowserMatchNoCase MSIE InternetExplorer

<Files "tool.shtml">
AddType application/xhtml+xml shtml
AddHandler server-parsed .shtml
AddType image/svg+xml .svg .svgz
RewriteEngine On
RewriteBase /
RewriteCond %{HTTP_ACCEPT} !application/xhtml\+xml
RewriteCond %{HTTP_ACCEPT} (text/html|\*/\*)
RewriteCond %{REQUEST_FILENAME} .*\.html
RewriteRule ^.*$ - "[T=text/html,L]"
</Files>

<Files "unit_tests.html">
AddType application/xhtml+xml html
AddHandler server-parsed .html
RewriteEngine On
RewriteBase /
RewriteCond %{HTTP_ACCEPT} !application/xhtml\+xml
RewriteCond %{HTTP_ACCEPT} (text/html|\*/\*)
RewriteCond %{REQUEST_FILENAME} .*\.html
RewriteRule ^.*$ - "[T=text/html,L]"
</Files>


RewriteEngine on
RewriteRule ^index\.html$ index.php 
